<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre!</title>
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    
</head>

<body id="BGColor">
   <headder class="hori">
        <a href="/"><img src="images/logo-mercado-liebre.svg" alt="logo mercado liebre" width="150" height="50"></a>
     
        
        <input type="search" placeholder="Buscar productos, marcas" style="width: 30vw;" class="busqueda"/>
        

        <p><i class="fa-solid fa-credit-card" style="color: #000000;"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        
    </headder>
    
        <nav class="navbar">
        <div class="icons">
            <a href="#" class="boton"> <i class="fa-solid fa-tag" style="color: #000000;"></i> </i> Ofertas</a> 
            <a href="#" class="boton"><i class="fa-solid fa-landmark fa-sm" style="color: #000000;"></i>Tiendas Oficiales</a>
            <a href="#" class="boton"><i class="fa-sharp fa-solid fa-wallet" style="color: #000000;"></i>Vender</a>
            <a href="#" class="boton"><i class="fa-brands fa-hire-a-helper" style="color: #000000;"></i></i> Ayuda  </a>
        </div>

        <div class="icons">
            <a href="/registro.html" class="boton"><i class="fa-solid fa-user" style="color: #000000;"></i> Creá tu cuenta   </a>
            <a href="/login.html" class="boton"><i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i> Ingresá</a>
            <a href="#" class="boton"><i class="fa-sharp fa-solid fa-cart-shopping" style="color: #000000;"></i> Mis compras</a>
        </div>
        
    </nav>
   
    
    <a href="#">
    <img src="/images/img-home-banner.jpg" style="width: 100vw;"> 
    </a>

    <section class="lastvisit">
        <br>
        <br>
        <h3 class="fuente">Basado en tu última visita</h3>
        <div class="produ">
        
            
            <a href="#">
            <div class="secUltVis">
                
                <img src="/images/img-cafetera-moulinex.jpg" width="250px" alt="cafetera"  > 
                <p class="desc">Cafetera Moulinex</p>
                <div class="detail">
                    <p class="prize">$6.770  </p>
                    <p class="ofer"> 40% OFF</p>
                </div>        
                
                </div>
            </a>
            
            <a href="#">
            <div class="secUltVis">
                <img src="/images/img-macbook-pro-2019.jpg" width="250px" alt="MacBook"   > 
                <p class="desc">MacBook Pro 2019</p>
                <div class="detail">
                    <p class="prize">$230.000</p>
                    <p class="ofer">20% OFF</p>
                </div>
            </div>
            </a>
            
            <a href="#">
            <div class="secUltVis">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="250px" alt="logo mercado liebre"   > 
                <p class="desc">Samsung Galaxy S10</p>
                <div class="detail">
                    <p class="prize">$70.500</p>
                    <p class="ofer">10% OFF</p>
                </div>
                
            </div>
            </a>

            <a href="#">
            <div class="secUltVis">
                <img src="/images/img-tv-samsung-smart.jpg" width="250px" alt="Sansung Smart TV"   > 
                <p class="desc">Smart Tv Samsung 43"</p>
                <div class="detail">
                    <p class="prize">$23.200</p>
                    <p class="ofer">5% OFF</p>
                </div>
                                
            </div>
            </a>
        </div>

    </section>
    
    <br>
    <br>

    <footer class="detail">
        <div class="disclaimer">
            <i class="fa-solid fa-money-bill-1-wave fa-2xl"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
                  
        <div class="disclaimer">
            <i class="fa-solid fa-truck-fast fa-2xl"></i>
            <h3>Envio gratis desde los $5.000</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
    
        <div class="disclaimer">
            <i class="fa-solid fa-shield-halved fa-2xl"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estas siempre protegid@</p>
        </div>
    </footer>    

    <p class="copyright">Copyright© 1999-2023 Mercado Liebre S.R.L.</p>

    <script src="https://kit.fontawesome.com/06e87440fe.js" crossorigin="anonymous"></script>
</body>
</html>