<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre!</title>
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    
</head>

<body id="BGColor">
   <headder class="hori">
        <a href="/"><img src="images/logo-mercado-liebre.svg" alt="logo mercado liebre" width="150" height="50"></a>
     
        
        <input type="search" placeholder="Buscar productos, marcas" style="width: 30vw;" class="busqueda"/>
        

        <p><i class="fa-solid fa-credit-card" style="color: #000000;"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        
    </headder>
    
        <nav class="navbar">
        <div class="icons">
            <a href="#" class="boton"> <i class="fa-solid fa-tag" style="color: #000000;"></i> </i> Ofertas</a> 
            <a href="#" class="boton"><i class="fa-solid fa-landmark fa-sm" style="color: #000000;"></i>Tiendas Oficiales</a>
            <a href="#" class="boton"><i class="fa-sharp fa-solid fa-wallet" style="color: #000000;"></i>Vender</a>
            <a href="#" class="boton"><i class="fa-brands fa-hire-a-helper" style="color: #000000;"></i></i> Ayuda  </a>
        </div>

        <div class="icons">
            <a href="/registro.html" class="boton"><i class="fa-solid fa-user" style="color: #000000;"></i> Creá tu cuenta   </a>
            <a href="/login.html" class="boton"><i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i> Ingresá</a>
            <a href="#" class="boton"><i class="fa-sharp fa-solid fa-cart-shopping" style="color: #000000;"></i> Mis compras</a>
        </div>
        
    </nav>
   
    <section class="loginBG">
        
        <div class="loginBox">
            <p>REGISTRATE:</p>
            <P>Nombre de usuario:</P>
            <input type="text" placeholder="ingrese nombre de usuario" name="username" style="width: 30vw;" required>
            <br>
            <P>Nombre de email:</P>
            <input type="email" placeholder="ingrese nombre de email" name="email" style="width: 30vw;" required>
            <br>
            <p>Contraseña:</p>
            <input type="password" placeholder="ingrese contraseña" name="password" style="width: 30vw;" required>
            <br>
            <input type="checkbox" id="acepto" name="acepto" value="Bike"> <a href="#"><i> Acepto los terminos y condiciones.</i> </a>
            <br>
            <br>
            <button type="submit">Registrarse</button>


        </div>

    </section>
    <p class="copyright">Copyright© 1999-2023 Mercado Liebre S.R.L.</p>

    <script src="https://kit.fontawesome.com/06e87440fe.js" crossorigin="anonymous"></script>
</body>
</html>